ETHERSCAN_API_KEY=ABC123ABC123ABC123ABC123ABC123ABC1
ROPSTEN_URL=https://eth-ropsten.alchemyapi.io/v2/<YOUR ALCHEMY KEY>
RINKEBY_URL=https://eth-rinkeby.alchemyapi.io/v2/SqfMOR0GCCR__IhZtYcVHA6QZoLIOofW
PRIVATE_KEY=2bc9fe48cf1df855e82b8348dcfc37d133d32feedcf8289bfe4f90a30c4ca4e3
